* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.head .header {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 31px;
}
.head .header a {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1.4px;
}
.head .header .ah {
  padding-left: 24px;
}

.promo {
  background-image: url(../img/Rectangle.png);
  background-size: cover;
  min-height: 504px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #FFFFFF;
  text-align: center;
}
.text h1 {
  font-weight: 400;
  font-size: 43px;
}
.text p {
  line-height: 50px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.textmid {
  display: flex;
  justify-content: center;
}
.textmid .tx {
  margin-top: 80px;
  text-align: center;
  color: #000000;
}
.textmid .tx h1 {
  font-weight: 400;
  font-size: 43px;
  line-height: 70px;
}
.textmid .tx p {
  font-weight: 400;
  font-size: 14px;
  line-height: 48px;
  letter-spacing: 0.8px;
  color: #A0A0A0;
}
.textmid .tx h6 {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1.4px;
  color: #000000;
}

.grid {
  max-width: 1330px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}
.grid .grid1 {
  background-size: cover;
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid .gridimg1 {
  display: flex;
  align-items: flex-end;
  background-image: url(../img/grid1.png);
  background-repeat: no-repeat;
  min-height: 440px;
}
.grid .gridimg2 {
  display: flex;
  align-items: flex-end;
  background: url(../img/grid2.png);
  background-repeat: no-repeat;
  min-height: 440px;
}
.grid .gridimgtext {
  width: 100%;
  padding-top: 40px;
  background-color: #FFFFFF;
}
.grid .gridimgtext h1 {
  font-weight: 400;
  font-size: 27px;
  line-height: 70px;
  color: #000000;
}
.grid .gridimgtext p {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1.4px;
  color: #000000;
}

.textshop {
  text-align: center;
  margin-top: 130px;
}
.textshop h1 {
  font-weight: 400;
  font-size: 33px;
  line-height: 70px;
  color: #000000;
}
.textshop p {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.8px;
  color: #A0A0A0;
}

.kimchi {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 52px;
}
.kimchi .kimchi1 {
  border-radius: 30%;
  width: 7px;
  height: 7px;
  background-color: #000000;
}

.shop .container {
  padding-top: 24px;
  max-width: 1330px;
  margin: 0 auto;
}
.shop .gridshop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  background-size: cover;
}
.shop .item1 {
  display: flex;
  align-items: flex-end;
  background-image: url(../img/iphone.png);
  min-height: 430px;
}
.shop .item2 {
  display: flex;
  align-items: flex-end;
  background-image: url(../img/laptop.png);
  min-height: 430px;
}
.shop .item3 {
  display: flex;
  align-items: flex-end;
  background-image: url(../img/planshet.png);
  min-height: 430px;
}
.shop .item4 {
  display: flex;
  align-items: flex-end;
  background-image: url(../img/monitor.png);
  min-height: 430px;
}
.shop .neger {
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 20px;
}
.shop .neger p {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.7px;
  color: #A0A0A0;
}/*# sourceMappingURL=style.css.map */